aside {
  background-color: var(--light-gray) !important;
}

.nav-link {
  color: var(--primary-black);
  padding: 0.5rem 1rem;
  margin-bottom: 0.25rem;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
}

.nav-link:hover {
  background-color: rgba(255, 0, 0, 0.1);
  color: var(--primary-red);
}

.nav-link.active {
  background-color: var(--primary-red);
  color: var(--primary-white) !important;
}

.nav-link.text-danger:hover {
  background-color: rgba(220, 53, 69, 0.1);
}

.badge {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
}

.bg-gray {
  background-color: var(--primary-gray) !important;
}